/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* COOMON */
.conteiner {
    width: 80%;
    margin: 0 auto;
}

.wrapeer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

ul {
    display: flex;
    list-style-type: none;

}

a {
    text-decoration: none;
    margin: 0 10px;
}

/* header */

.logo {
    width: 200px;
}

header {
    height: 80px;
    background-color: orangered;
}

/* MAIN */
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col {
    width: calc(95% / 3);
    margin-top: 1rem;
    /* DEBUG */
    background-color: orangered;
    border: 1PX solid black;
    min-height: 400px;
}