/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* COOMON */
.conteiner {
    width: 70%;
    margin: 0 auto;
}

.wrapeer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

ul {
    display: flex;
    list-style-type: none;

}

a {
    text-decoration: none;
    margin: 0 10px;
    color: white;
}

.absolute {
    position: absolute;

    bottom: 100px;
    color: white;
    font-size: .8rem;
    padding: 0.2rem;
    z-index: 2;
}
.relative {
    position: relative;
}
.relative:hover .none{
    display: inline;
}

.none{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

}


.price-sc{
    color: red;
    margin-right: .5rem;
}
.price{
    text-decoration: line-through;
}

.heart{
    border: 1px solid black;
    padding: 0.5rem;
    background-color: white;
    position: absolute;
    top: 20px;
    right: 0px;
    z-index: 2;
}

.heart:hover{
    color: red;
}

.margin-top{
    margin-top: 7rem;
}

/* header */

.logo {
    width: 200px;
}

header {
    height: 80px;
    background-color: orangered;
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

/* MAIN */
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.col {
    width: calc(95% / 3);
    margin-top: 1rem;
   
}

.absolute-single{
    left: 0px;
}

.absolute-sc {
    background-color: red;
    left: 0px;
}

.absolute-eco {
    background-color: green;
    left: 2rem;
}

/* FOOTER */

.bg-black{
    background-color: #1a1a1a;
    padding: 1rem;
    margin-top: 4rem;
}

.col-fot{
    /* height: 200px;
    border: 1px solid white; */
    color: white;
}
h4{
    margin-bottom: .5rem;
}